@charset "UTF-8";

/* S-Core */
@font-face{
    font-family:'Score';
    font-weight: 300;
    src:url("../font/S-CoreDream-3Light.woff2") format('woff2'),
    url("../font/S-CoreDream-3Light.woff") format('woff');
}
@font-face{
    font-family:'Score';
    font-weight: 400;
    src:url("../font/S-CoreDream-4Regular.woff2") format('woff2'),
    url("../font/S-CoreDream-4Regular.woff") format('woff');
}
@font-face{
    font-family:'Score';
    font-weight: 500;
    src:url("../font/S-CoreDream-5.woff2") format('woff2'),
    url("../font/S-CoreDream-5.woff") format('woff');
}
@font-face{
    font-family:'Score';
    font-weight: 600;
    src:url("../font/S-CoreDream-6Bold.woff2") format('woff2'),
    url("../font/S-CoreDream-6Bold.woff") format('woff');
}
@font-face{
    font-family:'Score';
    font-weight: 700;
    src:url("../font/S-CoreDream-7ExtraBold.woff") format('woff');
}

/* SBAggro */
@font-face{
    font-family:'SBAggro';
    font-weight: 200;
    src:url("../font/SBAggroL.woff") format('woff');
}
@font-face{
    font-family:'SBAggro';
    font-weight: 400;
    src:url("../font/SBAggroM.woff") format('woff');
}
@font-face{
    font-family:'SBAggro';
    font-weight: 600;
    src:url("../font/SBAggroB.woff") format('woff');
}

/* Onepick */
@font-face {
    font-family:'Onepick';
    font-weight:600;
    src:url("../font/YOnepick-Bold.woff") format('woff');
}

/* Malang */
@font-face {
    font-family:'Malang';
    font-weight:400;
    src:url("../font/GeekbleMalang2.woff") format('woff');
}

/* Jalnan */
@font-face {
    font-family:'Jalnan';
    font-weight:400;
    src:url("../font/Jalnan2.woff") format('woff');
}
